/* Active indicator in table */
.active-yes {
  color: green;
}

.active-no {
  color: tomato;
}

/* Loading */
.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Table sorting stuff */
th {
  cursor: pointer;
}

.ascending:after {
  content: '\2191';
  padding-left: 6px;
}

.descending:after {
  content: '\2193';
  padding-left: 6px;
}
